<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static',filename='styles.css') }}">
    <title>Опаньки!</title>
</head>
<body>
    <h1>Произошла ошибка! </h1>

    <p>Несуществующий город. Проверьте правильность написания города (с заглавной буквы, без сокращений). Если все верно, повторите попытку позже</p>

    <h3>Ошибка:</h3>
    <p>{{ error }}</p>

    <a href="/">Назад</a>
</body>
</html>
